
.allMovies{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 40px auto;
    justify-content: center;
}

.allCategories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 40px auto;
    justify-content: center;
}

.allActors{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 40px auto;
    justify-content: center;
}

.allStreams{
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 20px;
    width: 80%;
    margin: 40px auto;
    justify-content: center;
}

.allStreams .individuals {
    width: 160px; 
    padding: 30px 20px;
    font-size: 1.1rem; 
}

 .individuals {
    list-style: none;
    background: #0d0d0d;
    padding: 15px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex; 
    flex-direction: column;
    box-shadow: 0 8px 10px rgba(255, 0, 0, 0.5);
    border: 1.3px solid rgba(255, 0, 0, 0.682);
}

.individuals:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.582);
    border: 3px solid rgba(255, 255, 255, 0.74);
}

 .name{
    margin-bottom: 10px;
    font-size: 18px;
    color:rgb(255, 255, 255);
}

.name:hover {
    color: #ff0000;
}


 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

 p {
    margin: 5px 0;
    font-size: 14px;
}

 li li {
    background: rgba(255, 0, 0, 0.751);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}

.attributeItem:hover .attributeText {
    color: white;
}

.attributeItem .attributeText:hover {
    color: #ff0000;
}

.attributeItem:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.582);
    background: rgb(23, 24, 24);
}

.pageTitle {
    margin-top: 20px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff; 
    text-transform: uppercase;
    margin: 30px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.822);
    letter-spacing: 2px;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5);
    border: 2px solid rgba(255, 0, 0, 0.682);
    transition: all 0.3s ease-in-out;
}
body{
    padding-top: 80px;
}
