.saveButton{
    background-color: green;
    color: white; 
    padding: 10px; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px; 
    font-size: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.cancelButton{
    background-color: #333333;
    color: white;
    padding: 10px; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px; 
    margin-left: "10px";
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.editButton{ 
    padding: 10px; 
    background-color: blue; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.saveButton:hover {
    box-shadow: 0 0 10px #1aff00, 0 0 20px #00ff1a;
}

.cancelButton:hover {
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ccc1bf;
}

.editButton:hover {
    box-shadow: 0 0 10px #002fff, 0 0 20px #1e00ff;
}