.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.5);
    color: #fff;
}

.specificPageTitle{
    margin-top: 20px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #ff0000; 
    text-transform: uppercase;
    margin: 30px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.822);
    letter-spacing: 2px;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5);
    border: 2px solid rgba(255, 0, 0, 0.682);
    transition: all 0.3s ease-in-out;
    
}

.movieDescription{
    text-align: center;
    font-size: 1.1rem;
    margin: 10px 0;
}

.container ul {
    list-style-type: none;
}

.buttonTitles{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px 0;
}

.attributeItem:hover .attributeText {
    color: white;
}

.attributeItem .attributeText:hover {
    color: #ff0000;
}

.attributeItem:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.582);
    background: rgb(23, 24, 24);
}


.container .backButton {
    margin-top: 20px;
    text-align: center;
}

.container .backButton a {
    background-color: #ff0000;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease-in-out;
}

.container .backButton a:hover {
    background-color: #cc0000;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(5, 0.6fr);
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 40px auto;
    justify-content: center;
    color: #ffffff;
}

.attributeItem {
    color: #ffffff;
    list-style: none;
    background: #0d0d0d;
    padding: 15px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex; 
    flex-direction: column;
    box-shadow: 0 8px 10px rgba(255, 0, 0, 0.5);
    border: 1.3px solid rgba(255, 0, 0, 0.682);
}

.attributeItem:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.582);
    border: 3px solid rgba(255, 255, 255, 0.74);
}

.attributeText {
    font-size: 1.1rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 10px 0;
}